.MakeEvent {
    background-color: #b2e4fa;
    padding: 40px;
    margin-bottom: 135px;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &-img {
        position: relative;
        top: 0;
    }

    &-title {
        color: #000;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    &-text {
        color: #272727;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 20px 0;
    }
    

    // &-content {
    //     width: 100%;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     flex-direction: column;
    // }

    .btn-secondary {
        font-size: 17px;
        font-weight: 700;
        padding: 15px 25px;
    }

    &-group {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        padding: 20px;
        border-radius: 20px;
        background-color: rgba(75, 180, 245, 0.478);
        // border: 1px solid #000;

        h4 {
            font-size: 19px;
        }

        button {
            background-color: rgb(23, 135, 205);
        }
    }
}
